.wiki
  = render "articles/tab"
  .page-header
    %h1
      = link_to "Previous", article_path(@article,  @version.previous.id), :class => :title_link if @article and @version
      = link_to "Newer", article_path(@article, :v => @article.next_version.id) if !@article.live? and !@article.next_version.blank?
      = @article.name
  .row
    .span16
      .well
        %div
          %p.muted
            = @article.content.html_safe


      = link_to 'Edit', edit_article_path(@article)
      = link_to 'Back', articles_path

