.topbar
  .topbar-inner
    .container-fluid
      =  link_to "Mwiki", root_path, :class => "brand"
      %ul.nav
        %li{:class => params[:controller] == "home"  ? "active" : ""}
          = link_to "Home", root_path
        %li{:class => params[:controller] == "articles"  ? "active" : ""}
          = link_to "Wiki", articles_path
        %li
          = link_to "About", "#"
        %li
          = link_to "Contact", "#"
      %p.pull-right

        - if user_signed_in?
          = link_to "Log Out", destroy_user_session_path, :method => :delete
        - else
          = link_to 'Sign up', new_user_registration_path, :id => 'signup_link'
          or
          = link_to 'Sign in', new_user_session_path, :id => 'signin_link'
