<!DOCTYPE html>
<html>
  <head>
    <title>Mwiki</title>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <%= stylesheet_link_tag    "application", "bootstrap" %>
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

    <%= javascript_include_tag "application", '/javascripts/ckeditor/ckeditor.js' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render :partial => "shared/top_bar" %>
    <div class="container-fluid">
      <%= render :partial => "shared/side_bar" %>
      <div class="content">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
        <%= render :partial => "shared/footer" %>
      </div>
    </div>
  </body>
</html>
